html,
body {
	color: #0f172a;
	height: 100%;
	margin: 0;
	padding: 0;
}
#root,
main {
	height: inherit;
}
img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.amply-wrapper {
	/* width: 100%; */
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	/* margin-top: 64px; */
	margin-left: auto;
	height: 100%;
}
@media (min-width: 576px) {
	.amply-wrapper {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.amply-wrapper {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.amply-wrapper {
		max-width: 968px;
	}
}
@media (min-width: 1200px) {
	.amply-wrapper {
		max-width: 1140px;
	}
}
@media (min-width: 1366px) {
	.amply-wrapper {
		max-width: 1306px;
	}
}
